body {
    font-family: $fontBase;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.view {
    @include display-flex(flex);
    width: 100%;
    height: 100%;
    padding: 1.5em;
    box-sizing: border-box;
    background: #fff;
}

.vertical,
.horizontal {
    @include display-flex(flex);
    @include justify-content(space-between);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.vertical {
    @include flex-direction(column);
    @include flex-wrap(nowrap);
}

.np-layout {
    @include display-flex(flex);
    overflow: hidden;

    > .control {
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
    }

    .vertical .control:not(:first-child) {
        padding-top: .5em;
    }

    .horizontal .control:not(:first-child) {
        padding-left: .5em;
    }

    &.horizontal > .np-layout:not(:first-child) {
      padding-left: .5em;
    }

    &.vertical > .np-layout:not(:first-child) {
      padding-top: .5em;
    }
}


@include setLayoutWidth(10);
@include setLayoutHeight(10);

@include setButtongridHeight(10);
@include setButtonsWidth(10);
