.np-button-container {
    box-sizing: border-box;
    @include display-flex(flex);
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    width: 100%;
    height: 100%;
    padding-top: .3em;
}

.np-button {
    height: 100%;
    @include flex-center(column);
    color: #fff;
    background: #0072bc;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0.3em;

    &.icon.text {
        .np-icon {
            /* margin-bottom: 3.33%; */
            height: 67%;
        }

        .np-caption {
            /* margin-top: 3.33%; */
            height: 33%;

          span {
              display: block;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
          }
        }
    }

    .np-icon {
        //font-size: 4.3vh;
        //height: 67%;
        @include flex-center();
        font-size: get-vh(34px);

    }

    .np-caption {
        font-size: 13px;
        height: 100%;
        text-align: center;
        padding: 0;
        width: 100%;
        @include flex-center();
        line-height: 1.3;
    }

    &.image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .np-image {
        height: 66.393%;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 4px 4px 0 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    &.image-top,
    &.image-bottom {
      position: relative;

        .np-caption {
            height: 33.607%;
            position: absolute;
            bottom: 0;
            left: .3em;
            width: calc(100% - 0.6em);

            span {
                display: block;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    &.image-bottom {
        .np-image {
            top: auto;
            bottom: 0;
            border-radius: 0 0 4px 4px;
        }

        .np-caption {
            bottom: auto;
            top: 0;
        }
    }
}