.np-button-container {
    box-sizing: border-box;
    @include display-flex(flex);
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    width: 100%;
    height: 100%;
    padding-top: .5em;
}

.np-button {
    height: 100%;
    @include flex-center(column);
    color: #fff;
    background: #0072bc;
    border-radius: 4px;
    cursor: pointer;

    &.icon.text {
        .np-icon {
            margin-bottom: 3.33%;
        }

        .np-caption {
            margin-top: 3.33%;
        }
    }

    .np-icon {
        font-size: 4.3vh;
        height: auto;
    }

    .np-caption {
        font-size: 1.93vh;
        height: 27%;
        overflow: hidden;
        text-align: center;
        padding: 0 4%;
        width: 92%;
        line-height: 1.4;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &.image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .np-image {
        height: 66.393%;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 4px 4px 0 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    &.image-top,
    &.image-bottom {
      position: relative;

        .np-caption {
            height: 33.607%;
            position: absolute;
            bottom: -2%;
            left: 0;
        }
    }

    &.image-bottom {
        .np-image {
            top: auto;
            bottom: 0;
            border-radius: 0 0 4px 4px;
        }

        .np-caption {
            bottom: auto;
            top: 4%;
        }
    }
}