.np-button {
    height: 100%;
    @include flex-center(column);
    color: #fff;
    background: #0072bc;
    border-radius: 4px;

    &.icon.text {
        > .np-icon {
            margin-bottom: 3.33%;
        }

        > .np-caption {
            margin-top: 3.33%;
        }
    }

    > .np-icon {
        font-size: 4.3vh;
        height: auto;
    }

    > .np-caption {
        font-size: 1.93vh;
        height: 27%;
        overflow: hidden;
        text-align: center;
        padding: 0 4%;
        width: 92%;
        line-height: 1.4;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &.image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}