.np-buttongrid {
    .np-buttongridrow {
        &.horizontal {
            .np-button-container:not(:first-child) {
                padding-left: 0.3em;
            }
        }
    }
}


.np-items-list {
    height: 100%;
    overflow-y: scroll;

    .np-item {
        background: #f2f2f2;
        border-radius: 4px;
        padding: 10px;
        margin-bottom: 10px;

        .item-info {
            font-size: 16px;
            overflow: hidden;

            > div {
                width: 20%;
                float: left;

                &:last-child {
                    float: right;
                    text-align: right;
                }
            }

            span {
              display: inline-block;

                &:first-child {
                    font-size: 11px;
                    padding-right: 20px;
                }
            }
        }

        .name {
            font-size: 18px;
            padding-bottom: 10px;
        }

        &.active {
          padding: 0;

            .name {
                background: #0072bc;
                color: #fff;
                padding: 10px;
                border-radius: 4px 4px 0 0;
            }

            .item-info {
                background: #0085dc;
                color: #fff;
                padding: 0 10px;
                text-align: center;
                border-radius: 0 0 4px 4px;

                > div {
                    border-right: 1px solid #46a9ea;
                    padding: 5px 0;

                    &:last-child {
                        text-align: center;
                        border: none;
                    }
                }

                span {
                    display: block;
                    padding: 0;

                    &:first-child {
                      padding: 0 0 8px;
                    }
                }
            }
        }
    }
}