* {
    box-sizing: border-box;
    //@include user-select(none);
}

body {
    font-family: map-get($font, family);
    font-size: map-get($font, 15px);
  	color: map-get($font, color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.no-padding {
    padding: 0 !important;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.h-v-center {
    @include justify-content(center);
    @include align-items(center);
}

.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}


.border-radius {
    border-radius: map-get($button, radius);
}

@include generate-margins-paddings(0);
@include generate-margins-paddings(5);
@include generate-margins-paddings(10);
@include generate-margins-paddings(15);
@include generate-margins-paddings(20);
@include generate-margins-paddings(25);
@include generate-margins-paddings(30);



// Colors

.bg-light-gray {
    background: #f2f2f2;
}


.tabs {
    &.tabs-transparent {
        background-color: transparent;

        .tab a,
        .tab.disabled a,
        .tab.disabled a:hover {
            color: rgba(255,255,255,0.7);
        }

        .tab a:hover,
        .tab a.active {
            color: #fff;
        }

        .indicator {
            background-color: #fff;
        }
    }

    &.tabs-fixed-width {
        display: flex;

        .tab {
            flex-grow: 1;
        }
    }

    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    white-space: nowrap;

    .tab {
        display: inline-block;
        text-align: center;
        line-height: 48px;
        height: 48px;
        padding: 0;
        margin: 0;
        text-transform: uppercase;

        a {
            &:hover,
            &.active {
                background-color: transparent;
                color: red;
            }

            color: red;
            display: block;
            width: 100%;
            height: 100%;
            padding: 0 24px;
            font-size: 14px;
            text-overflow: ellipsis;
            overflow: hidden;
            transition: color .28s ease;
        }

        &.disabled a,
        &.disabled a:hover {
            color: red;
            cursor: default;
        }
    }
    .indicator {
        position: absolute;
        bottom: 0;
        height: 4px;
        background-color: blue;
        will-change: left, right;
    }
}

.tabs-content {
    width: 100%;
}

.carousel-item {
    position: absolute;
}