.np-grid {
    @include display-flex(flex);
    @include flex-wrap(nowrap);
    @include justify-content(space-between);
    @include setWH100();

    &.visible-scroll {
        overflow-y: scroll;
        display: block;
    }

    .np-row {
        @include display-flex(flex);
        @include justify-content(space-between);
		@include setWH100();

		&.horizontal {
			.np-box {
				@include flex-direction(column);

				&:not(:first-child) {
					padding-left: 0.3em;
				}
			}
		}

		&.vertical {
			.np-box {
				@include flex-direction(row);
				height: auto;
			}
		}
    }

    .np-box {
        @include display-flex(flex);
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        width: 100%;
        height: 100%;
        padding-top: .3em;
    }
}

@include setGridHeight(20);
@include setBoxesWidth(20);
@include setContentWidth(20);

.np-item {
	margin-bottom: 10px;
	cursor: pointer;
	@include user-select(none);

	> .np-box:first-child {
		background: #fff;
		z-index: 2;
		position: relative;
	}

	.np-box {
		padding: 0;
	}

	.name {
		font-size: 18px;
		padding: 10px;
		@include transition-property(all);
		@include transition-duration(.2s);
		@include transition-timing-function(ease-out);
		position: relative;
		z-index: 5;
		background: #f2f2f2;
		border-radius: 4px 4px 0 0;
	}

	.edit-mode {
		@include transition-duration(.3s);
		margin-top: -55px;
	}

	.item-info {
		font-size: 16px;
		overflow: hidden;
		@include transition-property(all);
		@include transition-duration(.5s);
		@include transition-timing-function(ease-out);
		padding: 0 10px;
		position: relative;
		z-index: 1;
		background: #f2f2f2;
		border-radius: 0 0 map-get($button, radius) map-get($button, radius);

		> div {
			padding-bottom: 10px;

			&:last-child {
				float: right;
				text-align: right;
			}
		}

		span {
			display: inline-block;

			&.np-caption {
				font-size: 11px;
				padding-right: 20px;
			}
		}

		&.edit-mode {
			@include transform(translateY(-200px));
			background: #0085dc;
			color: #fff;
			position: relative;
			z-index: 1;
			padding: 0;
			@include user-select(none);

			span {
				display: block;
				padding: 0;

				&.np-caption {
					padding: 0 0 8px;
				}
			}

			> div {
				border-right: 1px solid #46a9ea;
				padding: 10px;
				text-align: center;

				&:last-child {
					border: none;
				}
			}
		}
	}

	&.active {
		.name {
			background: map-get($colors, default);
			color: map-get($button, color);
		}

		.item-info {

		}

		.not-relevant {
			@include transform(translateY(-15px));
		}

		.edit-mode {
			//@include transform(translateY(0));
			-moz-transform: translateY(0) !important;
			-ms-transform: translateY(0) !important;
			-webkit-transform: translateY(0) !important;
			transform: translateY(0) !important;
			margin: 0;
		}
	}
}