@media only screen and (max-width: 770px) {
    .view {
        display: block;
        overflow: visible;

        .np-layout {
            width: 100% !important;
            display: block;
            overflow: visible;
        }
    }
}