$font: (
		family: ('Segoe UI Semilight', 'Segoe UI Regular', 'Gill Sans'),
		color: #707070,
		size: 15px,
);

$colors:(
        default: #0072bc
);

$button: (
		radius: 4px,
		padding: 5px,
		color: #fff
);