/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_01_layout.scss */
body {
  font-family: Segoe UI Semilight, Gill Sans;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

/* line 9, ../sass/_01_layout.scss */
.view {
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1.5em;
  box-sizing: border-box;
  background: #fff;
}

/* line 18, ../sass/_01_layout.scss */
.vertical,
.horizontal {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

/* line 28, ../sass/_01_layout.scss */
.vertical {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

/* line 33, ../sass/_01_layout.scss */
.np-layout {
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}
/* line 37, ../sass/_01_layout.scss */
.np-layout > .control {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
/* line 48, ../sass/_01_layout.scss */
.np-layout .horizontal .control:not(:first-child) {
  padding-left: .5em;
}
/* line 52, ../sass/_01_layout.scss */
.np-layout.horizontal > .np-layout:not(:first-child) {
  padding-left: .5em;
}
/* line 56, ../sass/_01_layout.scss */
.np-layout.vertical > .np-layout:not(:first-child) {
  padding-top: .5em;
}

/* line 16, ../sass/_001_mixins.scss */
.np-layout.horizontal > .np-layout:first-child:nth-last-child(10),
.np-layout.horizontal > .np-layout:first-child:nth-last-child(10) ~ .np-layout {
  width: 10%;
}

/* line 16, ../sass/_001_mixins.scss */
.np-layout.horizontal > .np-layout:first-child:nth-last-child(9),
.np-layout.horizontal > .np-layout:first-child:nth-last-child(9) ~ .np-layout {
  width: 11.11111%;
}

/* line 16, ../sass/_001_mixins.scss */
.np-layout.horizontal > .np-layout:first-child:nth-last-child(8),
.np-layout.horizontal > .np-layout:first-child:nth-last-child(8) ~ .np-layout {
  width: 12.5%;
}

/* line 16, ../sass/_001_mixins.scss */
.np-layout.horizontal > .np-layout:first-child:nth-last-child(7),
.np-layout.horizontal > .np-layout:first-child:nth-last-child(7) ~ .np-layout {
  width: 14.28571%;
}

/* line 16, ../sass/_001_mixins.scss */
.np-layout.horizontal > .np-layout:first-child:nth-last-child(6),
.np-layout.horizontal > .np-layout:first-child:nth-last-child(6) ~ .np-layout {
  width: 16.66667%;
}

/* line 16, ../sass/_001_mixins.scss */
.np-layout.horizontal > .np-layout:first-child:nth-last-child(5),
.np-layout.horizontal > .np-layout:first-child:nth-last-child(5) ~ .np-layout {
  width: 20%;
}

/* line 16, ../sass/_001_mixins.scss */
.np-layout.horizontal > .np-layout:first-child:nth-last-child(4),
.np-layout.horizontal > .np-layout:first-child:nth-last-child(4) ~ .np-layout {
  width: 25%;
}

/* line 16, ../sass/_001_mixins.scss */
.np-layout.horizontal > .np-layout:first-child:nth-last-child(3),
.np-layout.horizontal > .np-layout:first-child:nth-last-child(3) ~ .np-layout {
  width: 33.33333%;
}

/* line 16, ../sass/_001_mixins.scss */
.np-layout.horizontal > .np-layout:first-child:nth-last-child(2),
.np-layout.horizontal > .np-layout:first-child:nth-last-child(2) ~ .np-layout {
  width: 50%;
}

/* line 16, ../sass/_001_mixins.scss */
.np-layout.horizontal > .np-layout:first-child:nth-last-child(1),
.np-layout.horizontal > .np-layout:first-child:nth-last-child(1) ~ .np-layout {
  width: 100%;
}

/* line 28, ../sass/_001_mixins.scss */
.np-layout.vertical > .np-layout:first-child:nth-last-child(10),
.np-layout.vertical > .np-layout:first-child:nth-last-child(10) ~ .np-layout {
  height: 10%;
}

/* line 28, ../sass/_001_mixins.scss */
.np-layout.vertical > .np-layout:first-child:nth-last-child(9),
.np-layout.vertical > .np-layout:first-child:nth-last-child(9) ~ .np-layout {
  height: 11.11111%;
}

/* line 28, ../sass/_001_mixins.scss */
.np-layout.vertical > .np-layout:first-child:nth-last-child(8),
.np-layout.vertical > .np-layout:first-child:nth-last-child(8) ~ .np-layout {
  height: 12.5%;
}

/* line 28, ../sass/_001_mixins.scss */
.np-layout.vertical > .np-layout:first-child:nth-last-child(7),
.np-layout.vertical > .np-layout:first-child:nth-last-child(7) ~ .np-layout {
  height: 14.28571%;
}

/* line 28, ../sass/_001_mixins.scss */
.np-layout.vertical > .np-layout:first-child:nth-last-child(6),
.np-layout.vertical > .np-layout:first-child:nth-last-child(6) ~ .np-layout {
  height: 16.66667%;
}

/* line 28, ../sass/_001_mixins.scss */
.np-layout.vertical > .np-layout:first-child:nth-last-child(5),
.np-layout.vertical > .np-layout:first-child:nth-last-child(5) ~ .np-layout {
  height: 20%;
}

/* line 28, ../sass/_001_mixins.scss */
.np-layout.vertical > .np-layout:first-child:nth-last-child(4),
.np-layout.vertical > .np-layout:first-child:nth-last-child(4) ~ .np-layout {
  height: 25%;
}

/* line 28, ../sass/_001_mixins.scss */
.np-layout.vertical > .np-layout:first-child:nth-last-child(3),
.np-layout.vertical > .np-layout:first-child:nth-last-child(3) ~ .np-layout {
  height: 33.33333%;
}

/* line 28, ../sass/_001_mixins.scss */
.np-layout.vertical > .np-layout:first-child:nth-last-child(2),
.np-layout.vertical > .np-layout:first-child:nth-last-child(2) ~ .np-layout {
  height: 50%;
}

/* line 28, ../sass/_001_mixins.scss */
.np-layout.vertical > .np-layout:first-child:nth-last-child(1),
.np-layout.vertical > .np-layout:first-child:nth-last-child(1) ~ .np-layout {
  height: 100%;
}

/* line 40, ../sass/_001_mixins.scss */
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(10),
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(10) ~ .np-buttongridrow {
  height: 10%;
}

/* line 40, ../sass/_001_mixins.scss */
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(9),
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(9) ~ .np-buttongridrow {
  height: 11.11111%;
}

/* line 40, ../sass/_001_mixins.scss */
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(8),
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(8) ~ .np-buttongridrow {
  height: 12.5%;
}

/* line 40, ../sass/_001_mixins.scss */
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(7),
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(7) ~ .np-buttongridrow {
  height: 14.28571%;
}

/* line 40, ../sass/_001_mixins.scss */
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(6),
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(6) ~ .np-buttongridrow {
  height: 16.66667%;
}

/* line 40, ../sass/_001_mixins.scss */
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(5),
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(5) ~ .np-buttongridrow {
  height: 20%;
}

/* line 40, ../sass/_001_mixins.scss */
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(4),
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(4) ~ .np-buttongridrow {
  height: 25%;
}

/* line 40, ../sass/_001_mixins.scss */
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(3),
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(3) ~ .np-buttongridrow {
  height: 33.33333%;
}

/* line 40, ../sass/_001_mixins.scss */
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(2),
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(2) ~ .np-buttongridrow {
  height: 50%;
}

/* line 40, ../sass/_001_mixins.scss */
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(1),
.np-buttongrid > .np-buttongridrow:first-child:nth-last-child(1) ~ .np-buttongridrow {
  height: 100%;
}

/* line 52, ../sass/_001_mixins.scss */
.np-buttongridrow > .np-button-container:first-child:nth-last-child(10),
.np-buttongridrow > .np-button-container:first-child:nth-last-child(10) ~ .np-button-container {
  width: 10%;
}

/* line 52, ../sass/_001_mixins.scss */
.np-buttongridrow > .np-button-container:first-child:nth-last-child(9),
.np-buttongridrow > .np-button-container:first-child:nth-last-child(9) ~ .np-button-container {
  width: 11.11111%;
}

/* line 52, ../sass/_001_mixins.scss */
.np-buttongridrow > .np-button-container:first-child:nth-last-child(8),
.np-buttongridrow > .np-button-container:first-child:nth-last-child(8) ~ .np-button-container {
  width: 12.5%;
}

/* line 52, ../sass/_001_mixins.scss */
.np-buttongridrow > .np-button-container:first-child:nth-last-child(7),
.np-buttongridrow > .np-button-container:first-child:nth-last-child(7) ~ .np-button-container {
  width: 14.28571%;
}

/* line 52, ../sass/_001_mixins.scss */
.np-buttongridrow > .np-button-container:first-child:nth-last-child(6),
.np-buttongridrow > .np-button-container:first-child:nth-last-child(6) ~ .np-button-container {
  width: 16.66667%;
}

/* line 52, ../sass/_001_mixins.scss */
.np-buttongridrow > .np-button-container:first-child:nth-last-child(5),
.np-buttongridrow > .np-button-container:first-child:nth-last-child(5) ~ .np-button-container {
  width: 20%;
}

/* line 52, ../sass/_001_mixins.scss */
.np-buttongridrow > .np-button-container:first-child:nth-last-child(4),
.np-buttongridrow > .np-button-container:first-child:nth-last-child(4) ~ .np-button-container {
  width: 25%;
}

/* line 52, ../sass/_001_mixins.scss */
.np-buttongridrow > .np-button-container:first-child:nth-last-child(3),
.np-buttongridrow > .np-button-container:first-child:nth-last-child(3) ~ .np-button-container {
  width: 33.33333%;
}

/* line 52, ../sass/_001_mixins.scss */
.np-buttongridrow > .np-button-container:first-child:nth-last-child(2),
.np-buttongridrow > .np-button-container:first-child:nth-last-child(2) ~ .np-button-container {
  width: 50%;
}

/* line 52, ../sass/_001_mixins.scss */
.np-buttongridrow > .np-button-container:first-child:nth-last-child(1),
.np-buttongridrow > .np-button-container:first-child:nth-last-child(1) ~ .np-button-container {
  width: 100%;
}

/* line 1, ../sass/_32_buttons.scss */
.np-button-container {
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  padding-top: .3em;
}

/* line 11, ../sass/_32_buttons.scss */
.np-button {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #fff;
  background: #0072bc;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0.3em;
}
/* line 22, ../sass/_32_buttons.scss */
.np-button.icon.text .np-icon {
  /* margin-bottom: 3.33%; */
  height: 67%;
}
/* line 27, ../sass/_32_buttons.scss */
.np-button.icon.text .np-caption {
  /* margin-top: 3.33%; */
  height: 33%;
}
/* line 31, ../sass/_32_buttons.scss */
.np-button.icon.text .np-caption span {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* line 40, ../sass/_32_buttons.scss */
.np-button .np-icon {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  font-size: 4.25vh;
}
/* line 48, ../sass/_32_buttons.scss */
.np-button .np-caption {
  font-size: 13px;
  height: 100%;
  text-align: center;
  padding: 0;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  line-height: 1.3;
}
/* line 58, ../sass/_32_buttons.scss */
.np-button.image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 64, ../sass/_32_buttons.scss */
.np-button .np-image {
  height: 66.393%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px 4px 0 0;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 76, ../sass/_32_buttons.scss */
.np-button.image-top, .np-button.image-bottom {
  position: relative;
}
/* line 80, ../sass/_32_buttons.scss */
.np-button.image-top .np-caption, .np-button.image-bottom .np-caption {
  height: 33.607%;
  position: absolute;
  bottom: 0;
  left: .3em;
  width: calc(100% - 0.6em);
}
/* line 87, ../sass/_32_buttons.scss */
.np-button.image-top .np-caption span, .np-button.image-bottom .np-caption span {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* line 97, ../sass/_32_buttons.scss */
.np-button.image-bottom .np-image {
  top: auto;
  bottom: 0;
  border-radius: 0 0 4px 4px;
}
/* line 103, ../sass/_32_buttons.scss */
.np-button.image-bottom .np-caption {
  bottom: auto;
  top: 0;
}

/* line 16, ../sass/_33_buttonsGrid.scss */
.np-buttongrid .np-buttongridrow.horizontal .np-button-container:not(:first-child) {
  padding-left: 0.3em;
}

@media only screen and (max-width: 770px) {
  /* line 2, ../sass/_990_responsive.scss */
  .view {
    display: block;
    overflow: visible;
  }
  /* line 6, ../sass/_990_responsive.scss */
  .view > .np-layout {
    width: 100% !important;
  }
  /* line 9, ../sass/_990_responsive.scss */
  .view > .np-layout:last-child {
    padding-top: 1em;
  }
}
